@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
 }
 .logo img{
   height:4rem;
 }
 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    height:12vh;
    position:fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
 }
 .navlist{
    display:flex;
    gap:2.5rem;
 }
 .navlist li{
    list-style:none;
 }
 .navlist a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    letter-spacing: .08rem;
}
.hero {
    display:flex;
}
.left {
    background-image: url(images/coffee.jpg);
    background-color: #2c1e1e;
    padding-left:3rem;
}
.right {
    background-color: #7c573c;
    justify-content: center;
}
.hero_split.right img {
    width: 80vw; 
    height: auto; 
    max-width: 100%; 
    max-height: 80vh; 
    object-fit: cover;
}

.hero_split {
    flex: 1; /* Ensures both sides are equally divided */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.middle {
    flex: 0; /* No space for middle */
}
.navlist .slider{        /*NAV_BAR ON TOP RIGHT*/
background-color: rgba(255, 255, 255, 0.349);
width:6rem;
height:5rem;
position:absolute;
top:0;
right:430px;
border-top: .3rem solid #2c1e1e;
border-radius:0 0 2rem 2rem;
backdrop-filter:blur(.5rem);
z-index:-1;
transition:.5s ease-in-out;
}
.navlist li:nth-child(2):hover ~ .slider{
    right:330px;
}
.navlist li:nth-child(3):hover ~ .slider{
    right:225px;
}
.navlist li:nth-child(4):hover ~ .slider{
    right:105px;
}
.navlist li:nth-child(5):hover ~ .slider{
    right:-10px;
}
.left .content{
    color:white;
}
.content h1{/*NEON light style*/
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 123, 0), 0 0 10px rgb(255, 123, 0), 0 0 20px rgb(255, 123, 0), 0 0 40px rgb(255, 230, 0), 0 0 80px rgb(255, 230, 0);
    letter-spacing: .2rem;
    font-family: "Brush Script MT", cursive;
}
.content p{
    background: linear-gradient(135deg, Orgba(255, 255, 255, 0.1), Orgba(255, 255, 255, 0));
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur (20px);
    border-radius: 15px;
    border: 20px solid Orgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 5px rgb(124, 60, 0), 0 0 10px rgb(124, 60, 0), 0 0 20px rgb(124, 60, 0), 0 0 40px rgb(255, 230, 0), 0 0 80px rgb(255, 230, 0);
    letter-spacing: .1rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.3rem;
    width: 85%;
    margin:2rem 0;
    line-height:1.8rem;
}
.content button{
    background:radial-gradient(at top left,#5a4740,#2c1e1e);
    padding:1rem 3rem;
    border:.2rem solid rgba(255, 255, 255, 0.288);
    font-size:1.3rem;
    color:white;
    border-radius:4rem;
    letter-spacing: .1rem;
}